html {
    overflow-x : hidden;
}

#content.container{
    margin-top: 100px;
}

.select2-container {
    width: 100%;
}
.select2-hidden-accessible {
    display: none;
}

.select2-container.invalid .select2-default {
    background-color: #fff0f0 !important;
    border-color: #fff0f0 !important;
}

.SmallBox:before {
    content: "\f00d";
    position: absolute;
    top:0px;
    right:5px;
    font-family: "FontAwesome";
}

.select_picture {
    width: 60px;
    height: 60px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.row-centered [class^='col'] {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}