html {
    overflow-x : hidden;
}

#content.container{
    margin-top: 100px;
}

.select2-container {
    width: 100%;
}
.select2-hidden-accessible {
    display: none;
}

.select2-container.invalid .select2-default {
    background-color: #fff0f0 !important;
    border-color: #fff0f0 !important;
}