.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 18px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

html,
body {
    background-color: #F1F1F1;
    font-family: 'Open Sans', sans-serif;
}

.profile-pic > img {
    border-radius: 0%;
    position: relative;
    border: 5px solid #fff;
    top: -30px;
    left: 10px;
    display: inline-block;
    text-align: right;
    z-index: 4;
    max-width: 100px;
    margin-bottom: -30px;
}

.profile-pic {
    text-align: right;
}
.img-container {
    max-height: 175px;
    overflow: hidden;
    margin-bottom:15px;
    img {
	max-width: 100%;
    }
}

.bug-js {
    background-color: #7ACEF4;
}

.bug-php {
    background-color: #cdbfe3;
}

.bug {
    cursor: pointer;
}

.bug:hover {
    background-color: darkcyan;
}